/* -----------------RESET RULE----------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----------------GENERAL RULE----------------- */
html{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
.container{
    max-width: 950px;
    margin: 0 auto;
    width: 100%;
}

.big-container{
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.flex-container{
    display: flex;
}
.color-gray{
    color: lightgrey;
}

.button{
    background-color: #3061FF;
    color: white;
    padding: 4px 8px; 
    text-decoration: none;
}
hr{
    width: 50px;
    color: lightgray;
}
h2{
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 2em;
}

img{
    width: 100%;
}


/* -----------------HEADER RULE----------------- */

.header-container{
    padding: 10px;
    justify-content: space-between;
}

.header-container img{
   display: inline-block;
   width: 100%;  
}

.header-container ul li, .header-container img{
    display: inline-block;
    list-style: none;
    padding-right: 20px;
    text-align: center;
 }

 .header-container ul li a{
   text-decoration: none;
   color: black;
   padding: 4px 8px; 
 }

 .header-container ul li .button{
    background-color: #3061FF;
    color: white;
    padding: 4px 10px; 
}

.show-link:hover .link-header{
    display: flex;
}

.link-header{
    position: absolute;
    margin-top: 3px;
    margin-left: 8px;
    flex-direction: column;
    background-color: rgba(181, 180, 180, 0.6);
    display: none;
    text-align: start;
}
/* -----------------MAIN RULE----------------- */
/*cambio il tipo di stile della lista*/
main ul li::before {
    content: "\2713";
    color: green;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

  main section .margin{
    margin-top: 25px;
    margin-bottom: 25px;
}
 
/* ---------SECTION 1 JUMBO---------- */
.big-container{
    position: relative;
    top: 60px;
}
.section-1-jumbo{
    background-color: #B4D0E7;
}
.section-1-jumbo h1{
    font-size: 3em;
    padding: 30px 0;
}
.colum-left-section-1{
    width: calc((100% / 3));
}
.colum-right-section-1{
    width: calc((100% / 3)*2);
}
.colum-left-section-1 p{
    margin-bottom: 30px;
}
.colum-left-section-1 a{
    color: white;
    background-color: #3061FF;
    padding: 4px 8px; 
    text-decoration: none;
}
.colum-left-section-1 p:last-of-type{
    margin-top: 30px;
    margin-bottom: 50px;
}
.arrow {
    font-size: 2em;
}
.img-jumbo img{
    width: 100%;
    display: inline-block
}

/* ------SECTION 2-------  */
/* SECTION 2 TOP */
.section-2{
    margin-top: 100px;
}


.section-2 div label{
    margin-right: 25px;
}

.section-2 div .radio-container{
    margin-bottom: 25px;
}

.row-2-section-2{
   justify-content: space-between;
}
.row-2-section-2 > div{
    width: 30%;
}

.section-1-jumbo a.anchor{
    color: black;
    background:none
}

/* SECTION 2 CENTER */
.row-2-section-2 *{
    margin-bottom: 10px;
}

.row-2-section-2 i{
    margin-right: 7px;
}

.colum-1-section-2 {
    border: 2px solid lightgray;
    padding-left: 20px;
    padding-right: 20px;
}
.type-of-user{
    text-align: center;
    border-bottom: 2px solid lightgray;
    padding: 5px 0;
}

.section-2 ul, .section-2 li{
    list-style: none;
}
.size-button{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.plan-information-1{
    min-height: 400px;
}


/* SECTION 2 BOTTOM */
.row-3-section-2{
    margin-top: 40px;
    min-height: 30px;
    border: 2px solid lightgray;
}
.top-row-3-section-2{
    min-height: 30px;
    border-bottom: 2px solid lightgray;
    text-align: center;
    padding: 8px 0;
}

.col-1{
    width: 70%;
    padding: 20px;
}
.col-2{
    width: 30%;
    padding:20px;
}

.col-1 h4, .col-1 h5{
    margin-bottom: 20px;
}
.col-1 p{
    margin-top: 40px;
}


/* -------section 3------- */
.section-3{
    margin-top: 100px;
}
.section-3 .col-1{
    width: 60%;
    padding: 20px 0;
}
.section-3 .col-2{
    width: 40%;
    padding-top:80px;
    padding-bottom:20px;
    padding-left: 20px;
}

.section-3 .col-1 img{
    width: 100%;
}
.section-3 .col-2 h4{
    font-size: 1.4em;
    margin-bottom: 20px;
}
.section-3 .col-2 p{
    margin-bottom: 40px;
}
.link-partner{
    border: 1px solid black;
    color: black;
    padding: 4px 8px;         
    text-decoration: none;
}

/* ----------section 4---------- */
.container-cards{
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .container-cards > div{
    width: 30%;
    margin-top: 20px;
 }

 .section-4 h3{
    margin-bottom: 20px;
 }

 /* -------section 5-------- */
.title-section-5{
    max-width: 60%;
}

/* --------section 6------- */
.container-section-6{
    width: 100%;    
    margin-top: 80px;
}
.container-section-6 > div{
    width: calc(100% / 3); 
    height: calc(100vw / 3);    
}
/* LEFT SECTION 6 */
.left-section-6{
    flex-wrap: wrap;   
}
.left-section-6 > div{
    width: calc(100% / 2); 
    height: calc(100% / 2); 
    justify-content: center;
    align-items: center;
}

.left-section-6{
    
}
.left-section-6 img{
    width: 50%;
    filter: invert(100%) sepia(1%) saturate(7497%) hue-rotate(237deg) brightness(103%) contrast(100%);
}

.background-red{
    background-color: red;
}
.background-green{
    background-color: #A2D39B;
}
.background-violet{
    background-color: #61092B;
}
.background-lightblue{
    background-color: #3593CE;
}
.background-skyblu{
    background-color: #B4D0E7;
}
.background-blue{
    background-color: #122481;
}
.background-yellow{
    background-color: #FAD830;
}


/* CENTER SECTION 6 */
.section-6 .center-section-6{
    padding: 40px;
    background-color: #F5F6F6;
}
.section-6 hr, .section-6 p{
    margin: 40px 0;
}

.logo-designit{
    max-width: 50%;
}

/* -------SECTION 7------ */
.section-7{
    min-height: 300px;
    align-items: center;
}
.section-7 .col-1{
    width: 50%;
}
.section-7 .col-2{
    width: 50%;
}
.section-7 h2{
   margin-bottom: 60px;
    color: #61092B
}
.section-7 a{
    background-color: white;
    padding: 3px 20px;
    text-decoration: none;
    color: black;
}

.link-try-free{
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 60px;
}
/* -------SECTION 8------ */
.section-8{
    margin-top: 80px;
    margin-bottom: 60px;
}
.section-8 h3{
    font-size: 1.8em;
    margin-bottom: 50px;
}
.section-8 hr{
    width: 100%;
    border-color: lightgray;
}

.ask{
    justify-content: space-between;
    margin: 30px 0;
    padding-right: 20px;
}

.show-faq{
    margin-top: 5px;
    background-color: rgba(100, 100, 100, 0.2);
    display: none;
}
.hover-container:hover .show-faq{
    display: inline-block;
}
/* -----------------FOOTER RULE----------------- */
footer{
    background-color: black;
    color: white;
    min-height: 90px;
    padding-top: 60px;
    padding-bottom: 60px;

}

footer li a{
    font-size: 13px;
}

footer .language{
    font-size: 14px;
}
footer > div{
   justify-content: space-between;
}

footer .container > div{
    width: 18%;
}

footer h3{
    margin-bottom: 20px;
}

footer ul li{
    list-style: none;
    margin-bottom: 8px;
}

footer ul li a{
    color: white;
    text-decoration: none;
}

.link-footer{
    margin-bottom: 50px;
}
footer hr{
    margin-bottom: 30px;
}
.language{
    color: lightgrey;
}

.choose-language{
    margin-top: 1px;
    display: none;
    
}
.language:active .choose-language{
    display: block;
    color: white;
}

/* -----------------DEBUG----------------- */
/* .debug .container {
    background-color: beige;
    border: 1px dashed red;
}

.debug header *{
    border: 1px dashed red;
} */

/* .debug .section-1-jumbo *{
    border: 1px dashed red;
} */

/* .debug .section-2 *{
    border: 1px dashed red;
}  */